*{
    margin:0;
    padding:0;
    list-style: none;
}

.header{
    width:100%;
    
}

.flex{
display:flex;
}

.nav-bar{
margin-left:10%;
margin-right:10%;
/* background-color:blue; */
width:100%;
height:50px;
}

.flex-header{
    justify-content: center;
}

.header-box{
    width:20%;
    height:50px;
    /* background-color: greenyellow; */
    text-align: center;
    cursor: pointer;
    
    
}

.special{
    font-size: 15px;
    color:white;
    display: inline-block;
    padding:15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    

}

.flex-nav{
    display:flex;
    justify-content:space-between;
    flex-direction:row;
}

.change{
    flex-basis:500px;
}


.title{
    width:50%;
    height: 500px;
    /* background-color: yellow; */
    margin-left:25%;
    margin-right:25%;
    
}
    
.container{
    width:100%;
    height:auto;
    /* background-color:gray; */
    background-image:url(img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
    

}

.middle-page{
    width:80%;
    height:500px;
    /* background-color:greenyellow; */
    padding:10px;
    margin-left: 10%;
    margin-right:10%;
    
    
}

.middle-page-2{
    width:100%;
    height:500px;
    background-color:rgb(230, 230, 230);
    padding:10px;
    
    
}

.wave{
    width:100%;
    height:100px;
    background-image: url(img/wave.svg);
    background-size: contain;
    background-repeat: repeat;
    opacity: 0.1;
    
    
}



.mid-container{
    width:55%;
    height:500px;
    /* background-color: green; */
   

}




.second-mid-container{
width:45%;
height:500px;
/* background-color: green; */
margin-left:10px;
}

.mid-container-two{
    width:45%;
    height:500px;
    /* background-color: green; */
    

}

.second-mid-container-two{
    width:55%;
    height:500px;
    /* background-color: green; */
    margin-left:10px;
    }

    .middle-bottom-page{
        width:100%;
        height:40%;
        background-color: red;
        flex-direction:column;
        align-items:center;
        margin-top:10px;
        margin-bottom:10px;
        
        
    }

    .middle-bottom-box{
        width:80%;
        height:300px;
        background-color:darkred;
        margin-top: 10px;
        margin-bottom:10px;
       

    }

    .grow{
        flex-basis:500px;
    }

    .footer-container{
        width:80%;
        height:500px;
        background-color: wheat;
        flex-direction: row;
        justify-content:space-between;
        margin-left:10%;
        margin-right:10%;

        
    }

    .box-footer{
        width:10%;
        height:100%;
        background-color: gray;
       
    }

    .grow-column{
        flex-basis:20%;
        
    }

    .end-page{
        width:80%;
        height:150px;
        background-color:rgb(19, 161, 186);
        margin-left:10%;
        margin-right:10%;
        
    }

    .end-page-box{
        width:100%;
        height:50px;
        background-color:aquamarine;
        padding-top:5px;
        justify-content:space-between;
        
    }

    .end-footer-box{
        width: 20%;
        height:50px;
        background-color: blue;
    }

    img{
        width:80%;
        padding:5px;
        background-size: cover;
    }

   

    .one-button{
        background-color:white;
        width: 30%;
        height:auto;
        color:black;
        border-radius: 15px 15px 15px;
        font-size: 15px;
        padding:10px;
        margin-top:5px;
        font-family:Helvetica;
        cursor: pointer;
        
        

    } 

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color:white;
    padding-top:45px;
}

.sottotesto{
    font-size: 20px;
    text-align: center;
    cursor: default;
    color:white;
    margin-top:30px;
    font-family: Arial, Helvetica, sans-serif;
}

.sub{
    padding:20px;
    border-radius: 25px 25px 25px;
    cursor:pointer;
    
}

.ent{
    padding-right: 15px;
}


.two-button{
    background-color:white;
        width: 30%;
        height:auto;
        color:black;
        border-radius: 25px 25px 25px;
        font-size: 15px;
        padding:15px;
        margin-top:30px;
        margin-left:100px;
        margin-right:20px;  
        font-family:Helvetica;
        cursor: pointer;
        text-align: center;
        display: inline-block;
        
}

.three-button{
    width: 40%;
        height:auto;
        color:white;
        border-radius: 25px 25px 25px;
        font-size: 15px;
        padding:15px;
        font-family:Helvetica;
        cursor: pointer;
        text-align: center;
        background-color: black;
        display: inline;
        

}

.img-middle{
    width: 105%;
    padding: left 0px;
}



.titolo-2{
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 2rem;
line-height: 45px;
padding:0px 260px;
padding-top:120px;
color:black;
width:50%;

}

.testo-centrale-2{
    padding:30px 260px;
    font-family: Arial, Helvetica, sans-serif;
    width:50%;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.2rem;
    
}
.middle-position{
    padding:150px;
}

.seconda-immagine-centrale{
    padding-top:100px;
    
}

.wave-2{
    width:100%;
    height:100px;
    background-size: contain;
    background-repeat: repeat;
    opacity: 0.1;
    background-image: url(/Assets/img/wave.svg);
   transform: rotate(180deg);

}

.mid-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height:35px;
    padding-top: 35px;
    padding-bottom: 20px;
}

.mid-sub-text{
    width:70%;
    font-size: 1.2rem;
}

.third-image{
    width:100%;
    margin-top:70px;
}

.titolo-3{
    width:40%;
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 45px;
    margin-top: 100px;
}

.sottotitolo-3{
    width:60%;
    font-size:1rem;
    font-family:Arial, Helvetica, sans-serif;
    margin-top:30px;


}